.app-content-sup {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: #e3e9ee;
  /* background-image: url("../../assets/images/fondo-nav.jpg"); */
}

.app-content {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  background-color: #e3e9ee;
  /* background-image: url("../../assets/images/fondo-nav.jpg"); */
}

.home-content {
  display: block;
  width: 100%;
  /* flex-wrap: wrap;
  background-image: url("../../assets/images/fondo-nav.jpg"); */
}

.abc {
  display: flex;
  justify-content: center;
  align-content: center;
}
