.card-content2 {
  display: inline-block;
  columns: 2;
  width: 30%;
  height: 200px;
  /* width: 300px; */
  background-color: seagreen;

  border-radius: 15px;
}

.card-content {
  /* column-break-inside: avoid; */
  background: #e9ebed;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px rgba(20, 20, 20, 0.4);
  display: inline-block;
  margin: 0 5px 20px;
  padding: 10px;
}

.h5Card {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.spanCard {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*,
*:before,
*:after {
  box-sizing: border-box;
} */

/* body {
	 background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
	 background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
	 background-size: cover;
	 font: 14px/20px "Lato", Arial, sans-serif;
	 color: #9e9e9e;
	 margin-top: 30px;
} */

.slide-container {
  margin: auto;
  width: 100%;
  text-align: center;
}

.slide-container:hover {
  z-index: 5;
  /* box-shadow: 0px 13px 30px -15px #000; */
  transform: translateY(-10px);
}


.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper:focus {
  outline: 0;
}

.poke-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  /* z-index: 9999; */
}

.poke-card__image {
  position: relative;
  height: 150px;
  margin-bottom: 5px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.poke-card__image--poke {
  background-image: linear-gradient(to left bottom, #a8eb12, #f2bd00, #ff8e4a, #ff6f80, #d16ba5);
  width: 100%;
  height: 150px;
}

.poke-card__image--poke img {
  width: auto;
  position: initial;
  border-radius: 50px;
  height: 150px;
}

.water {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1421%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1422)'%3e%3c/rect%3e%3cpath d='M277 174L54 -49' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1421 272L1017 -132' stroke-width='6' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1053 521L721 189' stroke-width='6' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1318 163L1500 345' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M110 551L-246 195' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M216 446L488 718' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1295 186L1004 -105' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1079 356L910 187' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M981 407L679 105' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M568 67L882 381' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M209 381L437 609' stroke-width='6' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M959 472L1150 663' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M651 489L391 229' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1318 332L905 -81' stroke-width='6' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1403 212L1062 -129' stroke-width='6' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M369 26L-41 -384' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M924 379L559 14' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M376 479L616 719' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M104 424L360 680' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M793 65L1017 289' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M31 508L386 863' stroke-width='6' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M781 312L953 484' stroke-width='6' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1272 256L1686 670' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M578 500L722 644' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M229 194L-163 -198' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M866 495L1042 671' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1022 133L740 -149' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M132 345L359 572' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M762 536L1181 955' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1284 508L994 218' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M870 344L559 33' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M181 303L-101 21' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M92 321L-324 -95' stroke-width='8' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M752 184L392 -176' stroke-width='6' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M640 158L923 441' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1035 533L785 283' stroke-width='10' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M642 288L934 580' stroke-width='10' stroke='url(%23SvgjsLinearGradient1423)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1121 190L1475 544' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M748 224L351 -173' stroke-width='8' stroke='url(%23SvgjsLinearGradient1424)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1421'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1422'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(125%2c 182%2c 255%2c 1)' offset='0.31'%3e%3c/stop%3e%3cstop stop-color='rgba(125%2c 182%2c 255%2c 1)' offset='0.73'%3e%3c/stop%3e%3cstop stop-color='rgba(125%2c 182%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1423'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1424'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.grass{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3552%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3553)'%3e%3c/rect%3e%3cpath d='M1110 39L1405 -256' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M573 312L346 539' stroke-width='8' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M176 242L377 41' stroke-width='8' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M417 329L142 604' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M410 90L114 386' stroke-width='8' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1391 525L1206 710' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1282 179L1619 -158' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M941 55L581 415' stroke-width='10' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M688 170L396 462' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1385 435L1686 134' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1285 385L1098 572' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M748 175L568 355' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M757 558L598 717' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M744 111L1017 -162' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1292 83L1659 -284' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M729 210L1038 -99' stroke-width='10' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M189 451L377 263' stroke-width='8' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M437 258L113 582' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1118 422L1350 190' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M819 291L1094 16' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M860 456L571 745' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M422 372L789 5' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M940 150L1258 -168' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M886 363L528 721' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M698 472L975 195' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1232 365L1624 -27' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M634 109L818 -75' stroke-width='8' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M541 552L710 383' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M86 284L282 88' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1431 71L1166 336' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M518 96L791 -177' stroke-width='8' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1345 18L1577 -214' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M246 228L542 -68' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1315 468L1174 609' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1250 509L1039 720' stroke-width='10' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M605 407L1018 -6' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1203 112L1399 -84' stroke-width='6' stroke='url(%23SvgjsLinearGradient3554)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M435 126L605 -44' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M432 555L583 404' stroke-width='6' stroke='url(%23SvgjsLinearGradient3555)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3552'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3553'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(156%2c 255%2c 125%2c 1)' offset='0.3'%3e%3c/stop%3e%3cstop stop-color='rgba(188%2c 220%2c 85%2c 1)' offset='0.99'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 181%2c 19%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient3554'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient3555'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.fire{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3180%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3181)'%3e%3c/rect%3e%3cpath d='M1222 393L1221 224' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M935 211L934 -62' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M253 308L252 37' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M769 495L768 278' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M784 236L783 -18' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1302 34L1301 398' stroke-width='6' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1361 210L1360 557' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M696 65L695 -104' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M486 232L485 -65' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M897 332L896 584' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1430 496L1429 79' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M327 410L326 71' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M227 352L226 -51' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M719 42L718 447' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M515 181L514 -72' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1364 543L1363 129' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M161 482L160 876' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M576 86L575 -116' stroke-width='6' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M719 430L718 755' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1245 150L1244 445' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1194 328L1193 545' stroke-width='6' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M46 171L45 367' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M663 490L662 287' stroke-width='6' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M8 140L7 -136' stroke-width='8' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M527 477L526 748' stroke-width='6' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1180 523L1179 867' stroke-width='6' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M893 276L892 630' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1187 173L1186 30' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M400 393L399 18' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M247 9L246 215' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M728 146L727 -160' stroke-width='6' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1397 158L1396 -213' stroke-width='10' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M704 438L703 123' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M723 279L722 567' stroke-width='10' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1347 523L1346 909' stroke-width='8' stroke='url(%23SvgjsLinearGradient3183)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M969 152L968 550' stroke-width='6' stroke='url(%23SvgjsLinearGradient3182)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3180'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3181'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(224%2c 255%2c 125%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 231%2c 125%2c 1)' offset='0.25'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 181%2c 19%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient3182'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient3183'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.poke-card__image--archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}
.poke-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}
.poke-card__image--giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}
.poke-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}
.poke-card__image--goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}
.poke-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}
.poke-card__image--wizard {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
}
.poke-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}
.poke-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
.poke-card__level--poke {
  /* color: #ec9b3b; */
  color: #4facff;
}
.poke-card__level--archer {
  color: #ee5487;
}
.poke-card__level--giant {
  color: #f6901a;
}
.poke-card__level--goblin {
  color: #82bb30;
}
.poke-card__level--wizard {
  color: #4facff;
}
.poke-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  /* background: linear-gradient(to right, #a86e3c, #f5ae67); */
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
.poke-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}
.poke-card__unit-stats--poke {
  background: #ec9b3b;
}
.poke-card__unit-stats--poke .one-third {
  border-right: 1px solid #bd7c2f;
}
.poke-card__unit-stats--archer {
  background: #ee5487;
}
.poke-card__unit-stats--archer .one-third {
  border-right: 1px solid #d04976;
}
.poke-card__unit-stats--giant {
  background: #f6901a;
}
.poke-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}
.poke-card__unit-stats--goblin {
  background: #82bb30;
}
.poke-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}
.poke-card__unit-stats--wizard {
  background: #4facff;
}
.poke-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}
.poke-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.poke-card__unit-stats .one-third {
  width: 50%;
  float: left;
  padding: 20px 15px;
}
.poke-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.poke-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.poke-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.poke-card__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.slick-prev {
  left: 100px;
  z-index: 999;
}
.slick-next {
  right: 100px;
  z-index: 999;
}

.pokemon .poke-card .card-content .main .hp::before {
  background: linear-gradient(to right, #a86e3c, #f5ae67);
}

@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");
/* html, body {
	 height: 100%;
	 padding-top: 10px;
	 background: linear-gradient(to bottom right, #024, #402);
} */
#app {
  height: 100%;
  padding-top: 0px;
  font-family: Cinzel Decorative, sans-serif;
}
.container,
.columns {
  height: 100%;
}
.pokemon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon .card {
  border-radius: 20px;
  border: 1px solid #ffdd56;
  margin-bottom: 2.5rem;
  background: none;
}
.pokemon .card--charizard {
  border-color: #ffdd56;
}
.pokemon .card--charizard .card-image-container {
  position: absolute;
  width: 290px;
  top: -85px;
}
.pokemon .card--charizard .card-content .main .hp::before {
  background: linear-gradient(to right, #a86e3c, #f5ae67);
}
.pokemon .card--charizard .card-content .stats .tag {
  background-color: #ffdd57;
}
.pokemon .card--blastoise {
  border-color: #72d0fb;
}
.pokemon .card--blastoise .card-image-container {
  position: absolute;
  width: 200px;
  top: -10px;
  left: 40px;
}
.pokemon .card--blastoise .card-content .main .hp::before {
  background: linear-gradient(to right, #c3fcff, #00a5f8);
}
.pokemon .card--blastoise .card-content .stats .tag {
  background-color: azure;
}
.pokemon .card--venusaur {
  border-color: #ff3860;
}
.pokemon .card--venusaur .card-image-container {
  position: absolute;
  width: 290px;
  top: -10px;
  left: -6px;
}
.pokemon .card--venusaur .card-content .main .hp::before {
  background: linear-gradient(to right, #92df00, #4ea13f);
}
.pokemon .card--venusaur .card-content .stats .tag {
  background-color: #ff3860;
  color: #fff;
}
.pokemon .card .card-image {
  position: relative;
  display: block;
  height: 185px;
}
.pokemon .card-content .main {
  padding-bottom: 10px;
}
.pokemon .card-content .title {
  font-family: Cinzel Decorative, sans-serif;
  font-size: 25px;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.pokemon .card-content .stats {
  font-size: 15px;
}
.pokemon .card-content .stats .tag {
  font-size: 10px;
  border-radius: 10px;
}
.pokemon .card-content .stats .column {
  width: 75px;
}
.pokemon .card-content .stats .center-column {
  min-width: 100px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.pokemon .hp {
  position: relative;
  font-size: 15px;
}
.pokemon .hp::before {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 50%;
  height: 5px;
  border-radius: 3px;
  content: " ";
  transform: translateX(-50%);
}
.pokemon-links a {
  letter-spacing: 1px;
  color: #68c8b7;
  margin: 0 20px;
}
.pokemon-links a.active {
  color: #fff;
  font-weight: 600;
}

.img-stat {
  width: 30px;
  height: 30px;
}

@media (max-width: 758px) and (max-height: 500px) {
  .pokemon .card {
    margin-bottom: 1.5rem;
  }
  .pokemon .card-content {
    padding: 1rem;
  }
}
