* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f7;
  /* font-family: "Open Sans", sans-serif; */
}

a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /* padding: 40px 0; */
}

.selectbox {
  /* width: 50%; */
  margin: auto;
  position: relative;
}

.select {
  color: white;
  width: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;

  margin-bottom: 12px;
  padding: 12px;
  position: relative;
  z-index: 200;
  border: 2px transparent;
}

.select.active,
.select.active:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #213f8f;
}

.select.active:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 15px solid #213f8f;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
}

.select i {
  font-size: inherit; /*30px;*/
  /* margin-left: 30px; */
  color: #213f8f;
}

.titulo {
  /* margin-bottom: 10px; */
  color: #0074d9;
  /* font-weight: 600; */
  font-size: inherit; /*30px;*/
  
}

.descripcion {
  font-size: 18px;
  color: #434343;
}

.opciones {
  background: white;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  max-height: 200px;
  overflow: auto;
  z-index: 100;
  width: 100%;
  display: none;
}

.opciones.active {
  display: block;
  animation: fadeIn 0.3s forwards;
}

.opciones::-webkit-scrollbar {
  width: 1px; /* Tamaño del scroll en vertical */
  height: 1px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

.selectbox::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-90px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.contenido-select {
  display: flex;
}

.contenido-select h1 {
  font-size: inherit;
}

.contenido-select img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contenido-opcion {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: spx solid #213f8f;

  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  padding: 30px; /************/
}

.opciones .contenido-opcion {
  padding: 5px;
}

.contenido-opcion img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.opciones .contenido-opcion:hover {
  background: #213f8f;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion .descripcion {
  color: white;
}

img .hiddenImgType {
  display: none;
}

@media screen and (max-width: 800px) {
  .selectbox {
    width: 100%;
  }
}
